<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% include('header.html') %}
        
        {% include('nav.html') %}
        
        <main class="p-3 bg-warning-subtle">
            <h2>Login user</h2>
            <form action="/login" method="post">
                <label class="form-label">Name: <input type="text" required class="form-control" name="username"></label>
                <label class="form-label">Password: <input type="password" required class="form-control" name="password"></label>
                <button class="btn btn-primary">Login</button>
                <span>{{msg}}</span>
                <span>{{err}}</span>
                <span>{{error}}</span>
                <span>{{message}}</span>
                <span>{{errorMessage}}</span>
            </form>
        </main>

        {%- include('footer.html') %}
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>  
</body>
</html>